/* .todo_stats {
  border: 1px solid transparent;
} */

.todoTabs-button {
  font-size: .8rem;
  color: #9b9292;
  background-color: transparent;
  border: none;
}

.todoTabs-button__active {
  border: 1px solid #9b9494;
}